div{
    margin: 1rem;
}

h4 {
    font-weight: lighter ;
    color: rgb(0, 0, 0) ;
    font-family: "Montserrat", Helvetica, Arial, sans-serif ;
    background-color: white;
}

button{
    border: none;
    background-color: white;
}

#stepperButton ,span
{
    font-family: "Montserrat", Helvetica, Arial, sans-serif ;
}

