<app-section-header></app-section-header>
<div class="container mt-5">
  <div class="row" *ngIf="product" >
    <div class="col-6">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </div>
    <div class="col-6">
      <h3>{{product.name}}</h3>
      <p>{{product.price | currency}}</p>
      <hr>
      
      <div class="row mt-5">
        <div class="col-12 ml-3">
          <h4>Description</h4>
          <strong>{{product.description}}</strong>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="d-flex justify-content-start align-items-center">
        <i (click)="decrementQuantity()" class="fa fa-minus-circle  mr-2" style="cursor:pointer; font-size: 23m;" ></i>
        <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
        <i (click)="incrementQuantity()" class="fa fa-plus-circle  mx-2" style="cursor:pointer; font-size: 23m;"></i>
        <button (click)="addItemtoBasket()" class=" btn-lg ml-4">Add to Cart <i class="fa fa-shopping-cart"></i></button>
        <button (click)="addItemToWishList()" class=" btn-lg ml-4">Add to Wishlist <i class="fa fa-heart"></i></button>
      
      </div>
      <br>
      <h4 style="font-size: small;">Brand : {{product.productBrand}}</h4>
      <br>
      <h4 style="font-size: small;">Categorey : {{product.productType}}</h4>

  
    </div>
    
  </div>
</div>

